
html {
  font-size: 10px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
  /*font-family: 'Balsamiq Sans', cursive;*/
  font-family: 'Ubuntu', sans-serif;
  background: #cfcff1
}
body {
  width: 1000px;
  margin: 0 auto; /*el primer valor es arriba y abajo (cero en este caso), y para el segundo valor es izquierda y derecha (auto en este caso)*/
  background-color: antiquewhite;
  font-size: 16px;
  padding: 20px 20px 50px 10px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;
  /*background-color: coral;*/
  color: #000000;
  text-shadow: 3px 3px 5px rgb(68, 67, 67);
  text-align: center;
}
nav{
  background-color: #3399ff;
  border: .2px solid #b3d9ff;
  width: 100%;
}
h2  {
  font-size: 30px;
  color:  #000000;
  text-align: left;
  /*text-decoration: underline #df9b9b ;*/
  line-height: 2;
  letter-spacing: 1px;
}
h3{
  text-shadow:5px 5px 20px #000;
}
p{
  text-align: justify;
  line-height: 23px;
}
article p {
  color:  #000000;
  width: 50%;
position: relative;
bottom: 40px;
}
footer {
  color:  #000000;
  font-size: .5em;
  text-align: right;

}
.miFoto {
  display: block;
  /*margin: 0 auto;*/
}
div {
  color: #000000;
  width: 250px;
}


.fechas{
  position: relative;
  
  bottom:40px;
  left:700px;
  text-shadow:5px 5px 20px #000;
}
