body {
    background-color: floralwhite ;
    
 
}

header {
    position: relative;
    height: 600px;
}
.fondoHeader {
    top: 0px;
    display: block;
    width: 100%;
    height: 650px;
    background: url(https://github.com/franchuf/cv/blob/master/imagenes/background.jpg?raw=true) no-repeat;
    filter: blur(8px);
    -webkit-filter: blur(5px);
    background-size: cover;
    background-position: -650px -50px;
    background-attachment: fixed;
    
}
.cardHolder{
     
    height: 25rem;
    width: 60rem;
    display: flex;
    flex-direction: row;
   
    

}
.perfilProfesional {
    border: solid 1px;
    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 30px;
}
figure {
    margin-bottom: 0px;
}
.cardContent{
    background-color: rgb(70, 95, 81);
    width: 32rem;
    height: 25rem;
    
    
}
.cardContent h3  {
    color: white;
    text-align: left;
    padding-top: 4rem ;
    margin-left: 5rem;
}
.cardContent h4  {
    color: white;
    text-align: left;
    padding-bottom: 2rem;
    margin-left: 5rem;
}
.cardContent p{
    text-align: left;
    padding-top: px;
    color: white;
    margin-left: 5rem;
}


.miFoto {
    position: absolute;
    right: 0%;
    width: 315px;
}

.nav-item {
    padding-right: 30px; 
}
h4{
    font-size: 1rem;
    text-align: right;
}
h2 {
    padding-bottom: 2rem;
}