body {
    background-color: floralwhite ;
    padding-top: 65px;
    
}
.fondoHeader {
    background: url(http://trimatrixlab.com/store/flatrica/images/backgrounds/background.jpg);
    /* position: relative; */
    display: block;
    width: 100%;
    height: 370px;
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed ;
}
.cardHolder{
    
    
    background-color: rgba(191, 192, 189, 0.637);
    height: 25rem;
    width: 50rem;
    position: relative;
    margin: 0 auto ;
    bottom: 250px;
    
    

}


.nav-item {
    padding-right: 30px; 
}
h4{
    font-size: 1rem;
    text-align: right;
}
