*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fondo{
    width: 100vw;
    height: 100vh;
    background-color: red;
    
}
ul{
    line-height: 220%;
    list-style: none;
    font-family: 'B612', sans-serif;
    font-size: 105%;
    padding-top: 1.6rem;

}
.cardHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 90px;
    
}
.cardContent{
        background-color: rgb(70, 95, 81);
        width: 40rem;
        height: 27rem;
        color: white;
        padding: 2rem 0 0 5rem;
        
}

ul img {
    width: 3.5%;
    
}
.cardContent h3{
    display: flex;
    justify-content: flex-start;
    font-size: 2.5rem;
    font-family: 'Alegreya', serif;
    font-weight: bolder;
    
 }
 .cardContent h4{
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'Alegreya', serif;

 }

.miFoto {
    height:27rem;
    margin-left: rem;
}