*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



ul{
    line-height: 220%;
    list-style: none;
    font-family: 'B612', sans-serif;
    font-size: 105%;
    padding-top: 1.6rem;
}
.cardHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    padding-top: 5rem;

    
}
.cardContent{
        background-color: rgb(70, 95, 81);
        width: 80%;
        height: 27rem;
        color: white;
        padding: 2rem 0 0 5rem;
        
}

ul img {
    width: 3.5%;
    
}
.cardContent h3{
    display: flex;
    justify-content: flex-start;
    font-size: 2.5rem;
    font-family: 'Alegreya', serif;
    font-weight: bolder;
    
 }
 .cardContent h4{
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'Alegreya', serif;

 }

.miFoto {
    height:27rem;
    margin-left: rem;
}

.perfilProfesional{
    width: 90%;
    min-width: 320px;
    margin: 2rem auto;
    border: solid 3px ;
    box-shadow: 10px 5px 5px black;
    padding: 1rem;
}
.fechas{
    display: flex;
}
.experiencia h4{
    margin: 0 2rem 0;
    margin-left: auto;
    font-size: 1.1rem;
}
.experiencia h3{
    margin-top: 7rem;
}