body{
    background-color: turquoise;
    text-align: center;
    margin: 0;
}

.cloud-top {
    width: 100px;
    position: absolute;
    right:200px ;
    top: 150px;
}
.cloud-bottom {
    width: 100px;
    position: absolute;
    top: 170px;
    left: 270px;
}
.mountain{
    width:500px;
}
.skill-row {
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    line-height: 2;
    

}


.clear1{
    clear: left;
}


.clear2{
    clear: right;
}

.money{
    margin-right: 100px;
    width: 20%;
    float: left;
    
}
.airplane {
    width: 20%;
    float: right;
    margin-left: 50px ;
}