body {
    background-color: #086972;
}
hr {
    background-color: none;
    border-style: none;
    border-color: white;
    border-top-style: dotted;
    border-top-width: 5px;
    height: 0px;
    width: 2%;
}
img {
    background-color: crimson;
    height: 100px;
}
h1,h3,h2 {

    color: #ffcb74;
}
.broccoli{
    background-color: green;
}