
html {
  font-size: 10px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
  /*font-family: 'Balsamiq Sans', cursive;*/
  font-family: 'Ubuntu', sans-serif;
}

body {
  font-size: 16px;
  background: #9999ff;

}
nav{
  background-color: #3399ff;
  border: .2px solid #b3d9ff;
  width: 100%;
}
h2  {
  color:  #000000;
  text-decoration: underline #9bdfa4 ;
  /*border: 10px solid green;*/
}
h3{
  text-shadow:5px 5px 20px #000;
}
p{
  text-align: justify;
  line-height: 23px;

}
article p {
  color:  #000000;
  width: 50%;
position: relative;
bottom: 40px;
}
footer {
  color:  #000000;
  font-size: .5em;
  text-align: right;

}
div {
  color: #000000;
  width: 250px;
}


.fechas{
  position: relative;
  top:;
  right:;
  bottom:40px;
  left:700px;
  text-shadow:5px 5px 20px #000;
}
